@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@200;400;600&display=swap');
/*CSS RESET*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  /* border:1px solid #D64933;  */
}
:root{
  --site-orange:#D64933;
  --site-olive:#36382E;
  --site-burgandy:#402a2c;
  --site-gray:#7d8491;
  --site-papaya:#FDF0D5;
}
/*GENERAL STYLES*/
*{
  box-sizing:;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  background-color:var(--site-papaya);
  color:#36382E;
  margin:auto;
} 
/* headings start */
h1,h2,H3,H4,H5,H6{
    font-family: 'Courgette', cursive;
}
h1{
  font-size: 5rem;
  text-align:center;
  margin-bottom:3%;
  color:var(--site-orange);
}
h2{
  font-size:2.5rem;
}
/* headings end */
.about_section .about svg{
    width: 3rem;
    height: 3rem;
}
.about nav span{
display: inline-block;
font-size: 5rem;
}
/* info section start */
.info_card img{
  border-radius: 50%;
  border: .3rem solid var(--site-orange);
  width:6rem;
  height:6rem;
}
.info_card{
  display:flex;
  flex-direction: column;
  text-align: center;
  width:40rem;
  height:25rem;
  border:.3rem solid var(--site-gray);
  margin:4% auto;
  border-radius: 1rem;
  padding: 1%;
  background-color: var(--site-burgandy);
  color:var(--site-papaya);
}
.info_card:hover{
  border-radius: 1rem;
  box-shadow: .5rem 1rem var(--site-olive);
}
/* info section end */
main{
  width:98%;
  display: flex;
  flex-direction: column; 
  margin:auto;
}
/* marketing section start */
main .marketing{
  display: flex;
  flex-direction: column;
  width:96%;
  text-align: center;
  margin:auto;
  padding-bottom: 2%;
  border-bottom: 2px dashed var(--site-orange);
  ;
}  
/* marketing section end */
/* eat section start */
.eat_section{
  padding: 2%;
  margin:1% 0;
  color: var(--site-papaya);
  background-color: var(--site-olive);

}
/* eat section end */
/* plan section start */
.plan_section{
  padding: 2%;
  margin:1% 0;
  color: var(--site-papaya);
  background-color: var(--site-olive);
}
/* plan section end */
/* potluck section start */
.potluck_section{
  padding: 2%;
  margin:1% 0;
  color: var(--site-papaya);
  background-color: var(--site-olive);
}
/* potluck section end */
/* hero image section start */
header div img{
  width:100%;
}
/* hero image section end */
/* nav section start */
header nav{
  display:flex;
}
/* nav section end */

